[2021-03-10 04:26] warmwaffles opened #26 "I think sqlite3 supports check constraints"
https://github.com/warmwaffles/exqlite/blob/cbd1e9c6eef74355c025158c341ccc678fe7446f/lib/ecto/adapters/exqlite/connection.ex#L510-L513

If you drill into the column definition you'll see that `CHECK` is allowed https://sqlite.org/lang_altertable.html

It doesn't support, exclude although if you can just negate the statement it might suffice.

[2021-03-17 23:21] kevinlang opened #1 "Update documentation"

[2021-03-17 23:22] kevinlang opened #2 "Migrate integration tests in test/ into integration_test/"

[2021-03-18 02:04] warmwaffles opened #3 "Add changelog"
Should follow this pattern https://keepachangelog.com/en/1.0.0/

[2021-03-18 02:10] #3 closed

[2021-03-18 02:26] kevinlang opened #4 "Add phx.gen upstream support"
To be pursued once we hit 1.0

[2021-03-18 02:28] kevinlang opened #5 "Update existing benchmarks to all support SQLite3"
Also need to add documentation about how to run.

Would be nice to have the results in a nicely formatted markdown file or something in the Repo for easy reference.

[2021-03-18 02:29] kevinlang opened #6 "Investigate using `git` dep for `ecto` and `ecto_sql` for tests"
This would allow us to unfork our integration test code before the next releases of ecto and ecto_sql respectively. Also will help us catch pre-release issues in those libraries.

[2021-03-18 02:32] kevinlang opened #7 "CI improvements"
* run CI on push
* add Github action badge
* utilize https://github.com/erlef/setup-elixir

[2021-03-18 02:42] warmwaffles commented on #4
Is this adding it to `phx.gen`'s mix commands to allow sqlite3 to be specified?

[2021-03-18 02:50] kevinlang commented on #4
Yep! One of the sqlite ecto2 adapters used to be included back in the Ecto 2 days from reading through old issues, but simply never got re-onboarded because there was never an ecto3 driver, so I think upstream will be amenable.

[2021-03-18 03:25] kevinlang opened #8 "Better handling of thundering herd connection problem"
Right now we hook into the `:configure` function we handle off to `DBConnection.child_spec` to sleep a random time between 0-50ms. But that randomness can "fail" and we can still hit a "database is locked" issue if two processes both roll the same die.

A better solution is to use the `:pool_index` option provided to us then to more evenly space out the sleeping (e.g., each connection spaced ~5ms

[2021-03-18 03:44] warmwaffles commented on #8
Instead of doing random, would doing a modulo of the current time with how many connections there are work? Would be nice if the pool implemented a round robin style pool allocation.

[2021-03-18 03:46] warmwaffles commented on #8
Oh we are talking about roughly the same thing.

[2021-03-18 16:35] kevinlang commented on #6
This didn't quite work. I'll leave this aside for now, since once the next versions of `ecto` and `ecto_sql` are released we will probably not need to fork the tests again.

[2021-03-18 16:35] #6 closed

[2021-03-18 16:48] kevinlang opened #10 "Wrap provided :configure option for db_connection"
Right now we only have our thundering herd fix if no :configure is defined. We should also handle the case where it is, wrapping it with out sleep fix.

[2021-03-18 16:49] kevinlang commented on #8
Split out the configure wrapping thing to #10

[2021-03-18 16:49] #8 closed

[2021-03-18 19:19] kevinlang opened #11 "Better defaults"
Right now `Exqlite` has some "opinionated" recommendations like defaulting FK to `on`, but defers to the application developer to configure things like `journal_mode`. I think that, at least in the Ecto adapter, that opinionated approach should be extended to the other options, like `journal_mode`. This is from my experience reading forums and issues around SQLite where novice developers do not un

[2021-03-18 19:22] warmwaffles commented on #11
I think it would be okay to set the defaults to

[code]

As a good starting point. That's what I've been using in my personal projects and it seems to hold well. Probably need more extensive documentation and links to discussions around the configuration recommendations.

I just set the defaults that sqlite3 has by default.

[2021-03-18 19:37] kevinlang commented on #7
Opted to not use setup-elixir, since the existing images work good enough :)

[2021-03-18 19:37] #7 closed

[2021-03-19 01:30] #1 closed

[2021-03-19 02:38] #11 closed

[2021-03-19 04:11] kevinlang commented on #4
https://github.com/kevinlang/phoenix/pull/2/files

Started work here. Some additional work needed around how we generate the various config exs files

[2021-03-19 14:07] warmwaffles opened #14 "Add examples to documentation for schemaless queries with mappings"
I think in the docs in the [Limitation][1] we should add a simple example of how a schemaless query would work for sqlite3.

[1]: https://hexdocs.pm/ecto_sqlite3/Ecto.Adapters.SQLite3.html#module-schemaless-queries

[2021-03-19 14:19] warmwaffles commented on #10
Maybe provide a module that implements a specific behavior. Thus providing some flexibility in specifying the strategy.

[2021-03-20 03:42] kevinlang commented on #4
https://github.com/phoenixframework/phoenix/pull/4268

I have a PR here that is nearly ready to merge once I get the `collate` stuff published.

After further thoughts, I don't think waiting for 1.0 is necessary per se, as long as we are _stable_, which I believe we are at this point. I don't forsee any major breaking changes in the adapter from now on, now that we have sensible defaults and full

[2021-03-20 22:23] kevinlang commented on #4
I finished up the PR and the build for it is now passing. I marked it as no longer in "draft" state.

[2021-03-23 15:20] warmwaffles opened #17 "Update logo for exqlite and ecto_sqlite3"
@kevinlang I saw that you had a logo made. Let's add it to repos as the logo. Unless you want to explore other potential logos.

[2021-03-24 03:24] #5 closed

[2021-03-24 19:46] warmwaffles opened #19 "Improve query compilation speeds"
We should be able to match what the postgres and mysql adapters can do. I think we could improve how the lists are built / concatenated. It looks ugly, but it would be faster.

I wonder if there are better ways to build the query messages.

[2021-04-04 23:05] kevinlang opened #22 "Add support for placeholders"
This will likely require support from `exqlite` for named paramters: https://www.sqlite.org/c3ref/bind_blob.html

Exqlite will need to handle taking in a parameter name and finding the correct parameter index via `sqlite3_bind_parameter_index()` when it does its binding, if I am understanding correctly.

[2021-04-05 01:38] warmwaffles commented on #22
I don't understand what placeholders are supposed to be. Other than the named `?1` within the prepared statements.

[2021-04-05 03:02] kevinlang opened #23 "Fix returning clause specifying table"
Per 3.35.4 update, specifying table in returning clause is not supported. It was never supported correctly, and lead to errors, which is why those errors were made explicit, leading to some of our tests failing.

https://sqlite.org/forum/forumpost/cdc28fec1a

We will need to update things to not do e.g., `t.*` or even `t.id`.

[2021-04-07 01:01] #23 closed

[2021-04-07 01:01] kevinlang commented on #4
Closing as the support was added, just waiting for merge and next release of phoenix.

[2021-04-07 01:01] #4 closed

[2021-04-07 13:28] #10 closed

[2021-04-08 03:16] kevinlang commented on #26
Looked at this one. We can easily support this in a similar manner to how we support `:collate` for text-insensitive columns. The beauty of ecto/ecto_sql is that we are not limited to the list of documented options shown in [`Ecto.Migration#add/3`](https://hexdocs.pm/ecto_sql/Ecto.Migration.html#add/3)

I'll add this with some tests in the next week.

[2021-04-08 03:16] kevinlang commented on #26
I should also clean up how we do `collate` and move that to the `column_options` func instead.

[2021-04-18 18:23] kevinlang opened #28 "Add support for `:foreign_key_constraint` via specifying constraint name"
For all constraints, whether at column or table level, we can simply specify the constraint name ourselves. This allows us to support matching on constraint violations with changesets.

We may be able to do this for removing the `constraint_name_hack` we use for unique constraints as well.

[2021-04-19 18:21] warmwaffles commented on #28
Oh this is actually an interesting idea.

[2021-04-19 20:00] #26 closed

[2021-04-19 20:13] kevinlang commented on #28
I was mistaken here. I assumed that since specifying the constraint name in the `CHECK` constraint lead to the name of the constraint being printed in the error message, that this behavior was consistent across all `CONSTRAINT`s.

It turns out we actually _do_ specify the `CONSTRAINT name` for our foreign key clauses, just we don't get a good message back. I'll start a thread in the SQLite3 forum

[2021-04-19 20:13] #28 closed

[2021-04-20 13:49] warmwaffles commented on #28
I hope they look into unifying the error messages. Would be nice to have a consistent error in place so we can extract out which constraint failed easier.

[2021-04-28 16:00] rupurt opened #30 "`update_all` raises error when no rows are updated"
The ecto spec for `Ecto.Repo.Assoc.query` expects a list of rows but currently the `ecto_sqlite3` adapter returns `nil` when there were no rows updated from the query.

https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/assoc.ex#L10

This results in the following error:

[code]

[2021-04-28 16:47] rupurt commented on #30
Added example test case in https://github.com/elixir-sqlite/ecto_sqlite3/pull/31

[2021-04-29 03:14] kevinlang commented on #30
https://hexdocs.pm/ecto/Ecto.Repo.html#c:update_all/3

Nice find! An immediate workaround is to not have any `select` in the query, if that works for you.

I believe the issue is in `Exqlite`. Specifically around the `maybe_rows` logic where we _always_ map `[]` to `nil` for `rows`. Around `lib/exqlite/connection.ex:474`.

I tried removing that `maybe_rows` logic but then hit another issue in Ecto

[2021-04-29 03:33] kevinlang commented on #30
Maybe this is the test we need to make passing in order to fix this behavior?

https://github.com/elixir-sqlite/exqlite/pull/146

[2021-04-29 03:40] kevinlang commented on #30
I think we need to detect the difference between "returning specified" and "no returning specified", and return `[]` or `nil` accordingly in those cases. I think if we do that in the NIF (if possible) we can simplify some of our Elixir code too, in Exqlite.

See what Postgrex does:
`lib/postgrex/protocol.ex:2818`
[code]

Can we do something similar in SQLite3? I.e., do we get a non-empty list of c

[2021-05-07 10:25] lawik opened #33 "Limitations and alter table"
Hey

Love the work you are putting into Exqlite and this adaptor.

Ran into some confusion. The docs mention "ALTER TABLE which Sqlite does not support" which runs counter to the docs: https://sqlite.org/lang_altertable.html.

Or does that language just imply that sqlite doesn't support altering constraints via alter table? I think I ran into an unsupported use of ALTER TABLE during my first tries

[2021-05-07 14:56] lawik commented on #33
Thanks for the clarification.

That limitation is perfectly fine by me. But currently Exqlite doesn't support alter migrations at all then? So I would need to do some table creation and copying to migrate if I'm using Exqlite for data that I can't just throw out.

Do you have any good examples of this manuever? I'm pretty likely to write up something about using SQLite with Phoenix in the near fut

[2021-05-07 15:11] lawik commented on #33
Actually ended up doing some Exqlite stuff on this stream: https://youtu.be/YixXqPyASGE

[2021-05-07 15:34] kevinlang commented on #33
AFAIK we do support most of the ALTER TABLE things that SQLite3 supports. That sentence in the doc is unclear, I meant to say that we do not support `ALTER TABLE ADD CONSTRAINT`, as SQLite3 does not support it. SQLite3's support of most ALTER TABLE things is pretty behind other databases. `ALTER TABLE DROP COLUMN` was just added a month or so ago!

I'll update the docs to make it more clear.

All

[2021-05-07 15:39] kevinlang commented on #33
I updated the documentation in a83b90115aaf1b29b651af313a22aec1752252ba

In your usage, if you encounter _anything_ that SQLite3 seems to support but the adapter does not seem to report, please open an issue. I believe we cover almost everything at this point in terms of the core SQL functionality, even if there is a way to go for custom SQLite3-only API usage

[2021-05-07 15:39] #33 closed

[2021-05-07 16:04] lawik commented on #33
That's great!

I'll keep an eye out :)

[2021-05-09 16:54] sntran opened #34 "`storage_status/1` should return `:up` for in-memory database"
Currently, the function checks if the database file exists. This returns false for in-memory.

Which in turn fails `Phoenix.Ecto.CheckRepoStatus` during development.

I would like to see if we can make the function return true instead.

[2021-05-17 06:22] rupurt opened #35 "Can’t checkout connection from Ecto Sandbox after restarting application in tests"
Howdy,

I'm trying to figure out the best way to test my Elixir application using Ecto + a supervision tree. During the test the supervision tree dynamically starts processes which causes test pollution. The tests pass when run individually.

My initial thought was that I should restart the application, but that causes the following problem when trying to checkout a new connection from the Ecto sa

[2021-05-17 13:25] warmwaffles commented on #35
What are the configs for the repo in the test environment?

[2021-05-17 15:41] rupurt commented on #35
[code]

[2021-05-17 15:49] warmwaffles commented on #35
This project right? https://github.com/fremantle-industries/tai

Do you have a branch where I can replicate this?

[2021-05-17 15:59] rupurt commented on #35
That's the one. This is the branch `orders-ecto-repo-restart-application`

https://github.com/fremantle-industries/tai/commit/9369caa8bf34432489592ccf337e3fd5cbc884dc includes a description and a `mix test` command to replicate the issue

[2021-05-17 16:17] warmwaffles commented on #35
Can you help me bootstrap this app for my local machine?

I just cloned, and checked out that sha and ran

[code]

[code]

[2021-05-17 16:24] rupurt commented on #35
Add a `.env` file and source it with this

[code]

[2021-05-17 16:28] warmwaffles commented on #35
Excellent, just had to add the following to that

[code]

[2021-05-17 16:30] rupurt commented on #35
:raised_hands: thanks for looking into this @warmwaffles :beers:

[2021-05-17 16:43] warmwaffles commented on #35
@rupurt so I am looking at the database and the schema only has the migrations table and doesn't have any migrations / tables applied.

[code]

And then the error results in the following.

[code]

[2021-05-17 16:46] rupurt commented on #35
You probably need to generate the migrations

[code]

[2021-05-17 16:50] warmwaffles commented on #35
Okay so I am still getting a `no such table` error BUT, I did tweak the configs a bit. I am not running into the checkout issue. I've seen that happen if the directory does not exist or the database file is not created.

[code]

[2021-05-17 17:37] rupurt commented on #35
Thanks for the kind words :blush: Hit me up any time if you want to dive deeper on it.

Hmmm, not sure why I'm getting different results. But based on your suggestion that the database file isn't created I changed the path lookup to the following and it now works correctly!

[code]

[2021-05-17 18:19] warmwaffles commented on #35
I'm going to leave this ticket open for a little while. If you figure anything out let me know.

[2021-05-18 08:28] LordPraslea opened #36 "Get pure generated SQL instead of directly running exqlite"
Hi there

I have a few questions and possibly an interesting proposal.

First of all, amazing work you;ve put in this adapter and the exqlite version! I'm in love with both and have migrated from sqlitex.

Is there a way to use this adapter and run normal ecto adapters and for it to just generate the sql and possible pass it on to somewhere else? IE another server. Maybe a behaviour or something s

[2021-05-18 22:26] warmwaffles commented on #36
This is actually something I was investigating for my own needs. Yes it is possible, but it is incredibly cumbersome with how ecto is structured.

If I have time, I'll extract out the stuff I did into a blog article or example to use, but it works. The only thing that is a pain in the ass is coercing the rows returned back into the ecto schemas themselves. You have to `Enum.zip` the columns with t

[2021-05-19 09:31] LordPraslea commented on #36
Oh yeah, the square peg in round hole is why I ditched the actordb ecto implementation I began in 2019.  This is one of the reasons why I asked this question, It would be better if there where one central ecto SQL generator for sqlite instead of multiple implementations which all will hit the same issues over and over.

I'm currently investigating all possible methods and I'll be doing some Proof

[2021-06-02 22:21] rupurt commented on #35
Closing this as I haven't needed to revisit the problem with the absolute path fix

[2021-06-02 22:21] #35 closed

[2021-06-14 16:04] rdtq opened #37 "create unique_index?"
I'm trying to create unique_index on existing table field, but there's an error
Migration file:
[code]

Error:
[code]

[2021-06-14 16:12] rdtq commented on #37
Never mind, error was because of pre-existing records violating constraint :)

[2021-06-14 16:12] #37 closed

[2021-06-14 18:38] japplegame commented on #34
If you use `cache=shared` option, then all connections will share the same in-memory database.
[code]

[SQLite docs: In-memory Databases And Shared Cache](https://www.sqlite.org/inmemorydb.html)

But I ran into a very strange error when I was trying to use an in-memory database. Everything works fine until you try to perform two parallel transactions, one of which performs a write operation.
The e

[2021-07-01 13:27] lawik opened #38 "Can't have a field with name "order""
Hey

I think it's possible to use reserved SQL keywords as field names and such if properly escaped. Ran into a migration not running due to naming it `order`.

Figured I'd let you know.

[2021-07-01 19:47] warmwaffles commented on #34
I haven't had time to really dive into this lately, but I don't know how the shared cache is going to work when the DB is on a different machine than the one trying to access it. Could be an unfounded fear. Unsure yet.

[2021-07-02 17:54] #38 closed

[2021-07-02 18:04] warmwaffles commented on #38
@lawik this has been fixed by @Jcambass  in #39 and is now released under 38efd93

[2021-07-03 05:53] lawik commented on #38
Perfect! ✨

[2021-07-23 06:43] rupurt opened #41 "Ecto expectations for map fields"
Howdy,

I'm trying to use the [polymorphic_embed](https://github.com/mathieuprog/polymorphic_embed) library with the SQLite3 ecto adapter and I'm running into an error loading the map field. It works correctly with the ecto postgres adapter. It seems like ecto is expecting JSON fields to be deserialized from a string to a struct.

[code]

I've created a branch to reproduce to problem

https://gith

[2021-07-23 20:33] kevinlang commented on #41
I'm fairly certain this is due to differences between `postgrex` and `exqlite` handle json.

`exqlite` is pretty low level and only handles the [5 actual SQLite data types](https://www.sqlite.org/datatype3.html). This means that we do the mapping from the JSON string into a map in the Ecto adapter layer (i.e., this library).

`postgrex`, by comparison, handles the full set of Postgres data types (

[2021-07-25 21:39] warmwaffles commented on #41
I'm curious if this is also an issue with the MySQL adapter. I based a lot of the sqlite3 adapter off of it.

[2021-07-26 19:16] rupurt commented on #41
@mathieuprog this is the same issue I posted in the polymorphic_embed repo https://github.com/mathieuprog/polymorphic_embed/issues/39. When you get a chance do you mind reporting back how we should move forward with it?

[2021-07-26 20:13] jjcarstens opened #42 "Support Ecto.Changeset.foreign_key_constraint/3 ?"
I have a relational setup that I would like to just give me an `{:error, changeset}` tuple back for when the foreign record doesn't exist. However, no matter what I put I always get this error:

[code]

If I'm understanding right, SQLite knows there is a constraint here, but its unnamed and so all we get back to help is an empty `*  (foreign_key_constraint)` clue. And since there is no name to mat

[2021-07-26 21:03] kevinlang commented on #42
Yeah this is a SQLite3 issue. See this issue for more details: https://github.com/elixir-sqlite/ecto_sqlite3/issues/28

We have a hack that works for some cases. I believe I tried adapting that hack for foreign keys in the above issue, but failed.

I encourage you to post a request on the SQLite3 forum asking for some sort of API from SQLite3 so we can support this! :smile:

In the meantime, I'll

[2021-07-26 21:12] kevinlang commented on #42
For reference, here is what we get back from SQLite3 and thus why we cannot really do anything:

[code]

No mention of _which_ constraint failed. See https://sqlite.org/forum/forumpost/b17fdd0d59 for examples on other types of constraints.

[2021-07-26 21:12] #42 closed

[2021-07-26 21:15] mathieuprog commented on #41
If it is a limitation (purposely) of `exqlite`, then we can convert the json string into a map. I don't see how solution (1) works.

[2021-07-26 21:19] kevinlang commented on #42
I've added [some documentation](https://hexdocs.pm/ecto_sqlite3/0.5.6/Ecto.Adapters.SQLite3.html#module-handling-foreign-key-constraints-in-changesets) about this limitation that points back to this issue.

[2021-07-26 21:44] kevinlang commented on #41
Yep, I think (1) would not work. I'm not too familiar with ParamaterizedTypes, but reading through briefly I now understand that ultimately your library _is_ its own "type", so we wouldn't have any loader to process it anyway.

I agree that (2) seems the way to go, if we do not want to make changes to `exqlite` (I defer to @warmwaffles on that one).

---

@warmwaffles I don't think it is an issue

[2021-07-26 22:30] warmwaffles commented on #41
We probably need to make if function similarly.

[2021-07-27 17:25] rupurt commented on #41
Closing as @mathieuprog has merged a [fix](https://github.com/mathieuprog/polymorphic_embed/issues/39#issuecomment-887671700). Cheers @warmwaffles @kevinlang.

[2021-07-27 17:25] #41 closed

[2021-08-10 01:18] kevinlang opened #43 "Consider lowering default cache size from -64000"
In #11 we decided on having default cache size of -64000. However that means once it "warms up" to full capacity, combined with pool size of 5, we will be using 64*5=320MB of memory! I think we should lower it back to -2000.

There was a [thread](https://elixirforum.com/t/ecto-sqlite3-an-ecto3-sqlite3-adapter/38391/38) on Elixir forum discussing this.

[2021-08-10 01:37] warmwaffles commented on #43
That sounds good with me. 64MB for my use case was a server with ~8GB of RAM and an NVMe SSD. I was also loading documents in as blobs too.

[2021-08-17 22:08] jjcarstens opened #45 "argument_wrong_length with fragment"
Via `exqlite 0.6.1`

This could be a case of _"I dont know what I'm doing"_, but I can't seem to get past this error when trying to us a fragment and pinned variable in a query:

[code]

Error:

[code]

But if I hardcode the values, it works:

[code]

[2021-08-17 22:30] jjcarstens commented on #45
Ah, bingo! Thanks for the quick response @kevinlang !

The `len = "%26%"` works great

[2021-08-17 22:37] kevinlang commented on #45
Sweet :)

I think the hardcoded works because Ecto does its own interpolation in such cases.

[2021-08-17 22:37] #45 closed

[2021-08-24 09:03] LostKobrakai commented on #36
It's a bit of boilerplate, but using `Ecto.Repo.load` should handle most of the actually complex things, doesn't it?

[2021-08-24 13:14] warmwaffles commented on #36
Yes, that does take a bit of the complexity out. I do remember using it but had a case where it wasn't possible. It has been a while since I last played with it. For those looking at this as well: https://hexdocs.pm/ecto/Ecto.Repo.html#c:load/2

[2021-08-24 17:45] LostKobrakai opened #46 ":utc_datetime handling"
I'm currently in the process of migrating an sqlite_ecto2 project to this adapter and I noticed that this one does seem to store utc_datetime as iso strings with tz information (with trailing `Z`), while `sqlite_ecto2` doesn't store an offset.

The comment here seems to suggest this is not yet set in stone:
https://github.com/elixir-sqlite/ecto_sqlite3/blob/886bd6f0c27a5b750c356f26c6dce0af28d15f69

[2021-08-24 17:57] warmwaffles commented on #46
A PR is always welcome. I think @kevinlang may have some thoughts on this as well. The current serialization of timestamps and datetimes just go through the elixir datetime module and formats it to iso8601

[2021-08-24 21:25] kevinlang commented on #46
https://hexdocs.pm/ecto/Ecto.Schema.html#module-the-datetime-types

Makes sense per the above. PR welcome! :)

[2021-08-25 10:02] LostKobrakai commented on #46
I've created a PR to change the handling as requested.

The other difference I noticed are that the column types used between sqlite_ecto2 and ecto_sqlite3 are different (`NAIVE_DATETIME`/`UTC_DATETIME` vs `TEXT_DATETIME`). By now I've not found this to cause issues, but I guess those sql column types are used by exqlite/ecto_sqlite3 in some form. Would I need to convert/migrate existing tables/da

[2021-08-25 12:42] warmwaffles opened #50 "Need to figure out why tests intermitently fail"
I've seen this error message crop up occasionally with the CI. No clue why.

[code]

[2021-08-25 13:00] #46 closed

[2021-08-25 16:39] kevinlang commented on #46
Thanks for the PRs @LostKobrakai ! :partying_face:

[2021-08-27 09:31] LostKobrakai opened #51 "Handling of UUIDs"
While making sure we don't run into compatibility issues migrating from the sqlite_ecto2 adapter to this one I hit another difference: UUIDs.

Currently this adapter seems to store uuids as strings and the old adapter did opt for the smaller option of raw binary data. I found this one in the testsuite:

https://github.com/elixir-sqlite/ecto_sqlite3/blob/8ff7c8d66759ad3e2a5c75ee0cf4c9eea5d5852b/tes

[2021-08-27 17:20] #51 closed, assigned to nobody

[2021-08-27 19:43] warmwaffles opened #55 "Port default setting to restrict"
This was the latest PR merged to https://github.com/elixir-ecto/ecto_sql/commit/b67cdaeb2c7ec1ea87f4b50a5c26a472805b404a we should port this into here to keeps parity.

[2021-08-27 21:20] #55 closed, assigned to nobody

[2021-08-30 08:59] LostKobrakai opened #56 "0.7.0 release broken"
0.7.0 includes a backport of code, which is not yet released upstream.

* Backport: Default to :restrict
  elixir-ecto/ecto_sql@b67cdae

[2021-08-30 12:50] warmwaffles commented on #56
Should be easy enough to fix. Give me a few moments.

[2021-08-30 13:18] #56 closed

[2021-11-29 23:41] fire opened #60 "Enable strict tables"
https://www.sqlite.org/draft/stricttables.html

Is there anything I need to do to force strict to be always on.

[2021-11-30 13:35] warmwaffles commented on #60
We can, but I don't understand the benefit of that since the application / adapter layer is taking care of the coercion.

[2021-11-30 13:52] warmwaffles commented on #60
I'll play with the feature some and see what comes of it. The database once it has a `STRICT` table defined can not be opened by any version of sqlite3 older than 3.37, that is something to keep in mind especially if your local version sqlite3 lags behind due to your upstream not cutting a release sooner.

If you want to give it a shot before I take a swing some points of interest are

* https://g

[2021-11-30 18:21] fire commented on #60
As someone that does not know the internals of `ecto_sqlite3` passing `strict: true` with the options when creating a database table seems like a localized solution.

[2021-11-30 18:26] warmwaffles commented on #60
I'll have to check out a strict table definition to see if this adapter blows up or if it just silently works. If it is the latter, this will make it significantly easier.

One way to test it out is to just hand create the table with an `execute` in your migration and `CREATE TABLE () STRICT` and plop around with it.

[2021-11-30 19:57] fire commented on #60
I'm not sure how to do any of this.

Will try to do what you said, but I might flail around :D

[2021-11-30 20:17] warmwaffles commented on #60
@fire when you create an ecto migration for your application instead of using `create table()` use https://hexdocs.pm/ecto_sql/Ecto.Migration.html#execute/1 and craft the table by hand. Then just pop an IEX console and insert a few records and see what happens.

[2021-12-02 13:46] fire commented on #60
Trying to port https://github.com/aesmail/kaffy-demo to sqlite.

1. ILIKE is not supported.
2. Needed to bump `mix.exs` to `{:exqlite, "~> 0.8"},`
3. change dev.exs to `database: "bakery_dev.db",` etc.
4. change `adapter: Ecto.Adapters.SQLite3`
5. Tried `STRICT`
5. Was blocked by TEXT_DATATIME not being supported

[2021-12-02 14:51] warmwaffles commented on #60
Sqlite does not support `ILIKE` you'll have to use `LIKE` and make both left and right side operators upper and lower case the string.

I figured something like this would happen with strict typing. Because SQLite lacks a proper `datetime` that stores timezone with it, we have to store it as a text field that is iso8601 compliant.

* https://sqlite.org/quirks.html#no_separate_datetime_datatype
* h

[2021-12-03 07:13] fire commented on #60
I'll close this issue for now as I realized that the feature needs time to bake even if it was released and my related libraries like kaffy weren't ready.

[2021-12-03 07:13] #60 closed

[2021-12-07 06:17] reykjalin opened #61 "Issue with Cowboy and HTTPs after updating from 0.5.5 to 0.6 or 0.7"
I'm not sure if this is the right place to report this issue, but it seems ecto_sqlite 0.6 and 0.7 don't play well with HTTPS support in cowboy? Or maybe Jason or Rancher?

I haven't been able to figure out the cause of the issue, only that it happens when I try to update my ecto_sqlite3 dependency from 0.5.5 to 0.7

[code]

I've tried to rebuild the project from scratch, including with a new lock

[2021-12-07 06:21] reykjalin commented on #61
Looking through the changelog, maybe defaulting the UUID encoding to a string is what's behind the issue? I saw this in the changelog:

[code]

How would I go about changing the encoding to what it was in 0.5 after I update to 0.7?

[2021-12-07 16:31] warmwaffles commented on #61
I'll take a look at this, but I think this does not have any bearing on `ecto_sqlite3` but I'll dive in.

Can you provide me your `mix.lock` file as well?

[2021-12-08 00:39] reykjalin commented on #61
Of course!

<details><summary>Expand to see `mix.lock`.</summary>

[code]

</details>

This is the `mix.lock` file that doesn't give me any issues. If I change the version of `ecto_sqlite3` to 0.6 or 0.7 (e.g. `~> 0.7.0`) and run `mix deps.get && mix phx.server` I start seeing the aforementioned error logs when I try to open the home page of my phoenix app — but only if I'm logged in. I think that

[2021-12-08 14:13] warmwaffles commented on #61
Yea I just wanted a good known starting position before trying to upgrade packages to diagnose what is going on.

[2021-12-08 14:33] warmwaffles commented on #61
Here's the change you were referring to

https://github.com/elixir-sqlite/ecto_sqlite3/compare/v0.6.0...v0.6.1

If you set `config :ecto_sqlite3, uuid_type: :string, binary_id_type: :string` you should be good. Right now it defaults to string regardless

https://github.com/elixir-sqlite/ecto_sqlite3/blob/main/lib/ecto/adapters/sqlite3.ex#L340-L354

Try fiddling with `:string` and `:binary`

[2021-12-08 21:27] reykjalin commented on #61
I'll try that and report back as soon as I have, thanks!

[2021-12-09 00:09] reykjalin commented on #61
I set the config to

[code]

and that did the trick. Thank you very much!

[2021-12-09 00:09] #61 closed

[2022-02-24 12:26] sweco-semtne opened #63 "[Question] upsert support"
Hi!
Thank you for an excellent library.
I'm curios if upsert is supported and specifically if the Repo.insert!(changeset, on_conflict: :nothing) should be working?

Br
Mats

[2022-02-24 14:26] warmwaffles commented on #63
https://sqlite.org/lang_conflict.html instead of `:nothing` try `:ignore`

[2022-03-07 10:36] joshuataylor opened #64 "Does not dump JSON correctly with Polymorphic Embed"
I've seen this - https://github.com/elixir-sqlite/ecto_sqlite3/issues/41

Seems that using the dumper dumps to string that can't be later read properly with SQLite, it stores it like this in a JSON field in SQLite:

[code]

instead of like this:
[code]

Means functions like json_extract etc won't work natively in SQLite.

[I believe it's because when dumping it's done this way:](https://github.com

[2022-03-07 14:51] warmwaffles commented on #64
I'll look into this a little bit more.

The json data type in sqlite3 is not actually a native type. It is stored as a string and parsed when it is loaded.

[2022-03-08 00:22] joshuataylor commented on #64
What's strange is that if I have a "normal" map it stores correctly as JSON

[2022-03-08 00:30] warmwaffles commented on #64
Can you provide a quick example of that?

[2022-03-11 09:11] joshuataylor commented on #64
Sorry for the delay. Here is an example repo that reproduces the issue: https://github.com/joshuataylor/sqlite_example

When doing a `mix ecto.migrate`:
[code]

It looks like it's a normal string for the widget type.

[2022-03-11 14:03] warmwaffles commented on #64
Excellent, I'll take a look soon.

[2022-03-11 17:38] warmwaffles commented on #64
I don't think I quite understand the issue.

Here's the module I used to insert a record.

[code]

Result

[code]

Fetching the result

[code]

[2022-03-12 05:19] joshuataylor commented on #64
[code]

This is expected. Now as the other values are stored as a string, we can't do this.
[code]
select json_extract(metadata, '$.ping') from widget

sqlite> select metadata from widget;
"{\"id\":null,\"ping\":\"chrome\",\"pong\":100,\"__type__\":\"bar\"}"
[code]

[2022-03-12 22:06] warmwaffles commented on #64
Oh this _is_ strange. Let me play with exqlite and ecto_sqlite3's serialize and deserialize stuff. I hope this doesn't break someone's stuff that exists already.

[2022-03-12 22:46] warmwaffles commented on #64
Created a test to verify that the column was serialized appropriately.

https://github.com/elixir-sqlite/ecto_sqlite3/commit/9c5f5a46bbacf24e6bbf4ddfac894e7de8095be7

[2022-03-13 04:12] warmwaffles commented on #64
I'm not quite done with it yet because clearly I can reproduce it with your repository and inspect with sqlite3 on the command line.

[2022-03-13 05:42] joshuataylor commented on #64
With postgres, putting a `IEX.pry` on  `dumper.(:map, map)` ([here](https://github.com/mathieuprog/polymorphic_embed/blob/master/lib/polymorphic_embed.ex#L277))

returns:
`{:ok, %{:id => nil, :ping => "chrome", :pong => 100, "__type__" => :bar}}`

With sqlite, it returns the string:
{:ok, "{\"id\":null,\"ping\":\"chrome\",\"pong\":100,\"__type__\":\"bar\"}"}

[2022-03-16 11:20] joshuataylor commented on #64
I believe it's because it's double json encoded, once from a map to a string, then from a string to another string.

If a check is added to `json_encode` for checking if it's a bitstring, this fixes it.
[code]

It would be better to check upstream in the dumpers in sqlite3.ex, but I'm unsure how to do this (the &Codec.json_encode/1 looks like magic to me).

[2022-03-16 13:43] warmwaffles commented on #64
Let me noodle on promoting that into exqlite. I think it has merit for sure.

[2022-03-16 13:46] warmwaffles commented on #64
In the mean time, let's put your first suggestion with the guard clause in.

[2022-03-16 13:47] joshuataylor commented on #64
Sorry, I meant https://github.com/elixir-sqlite/ecto_sqlite3/blob/main/lib/ecto/adapters/sqlite3.ex#L383 .

I don't believe it's an exqlite issue, but an ecto_sqlite3 issue of double encoding. I made a misspoke and should have said in the other function. #:facepalm:

[2022-03-16 13:49] warmwaffles commented on #64
Yea the dumpers are confusing for sure, but those only deal with the actual `field :foo, :map` stuff and `field :foo, array: :string`. The guard clause bit will need to live in the codecs.

[2022-03-16 14:00] #64 closed

[2022-03-16 14:21] warmwaffles commented on #64
@joshuataylor released under `v0.7.5`

[2022-03-18 09:50] joshuataylor commented on #64
Fantastic! Also with sqlite 3.38 you can now do ->> for json selectors (same as Postgres), which is great.

Can confirm this works.

[2022-03-18 13:18] warmwaffles commented on #64
Oh that's something I wanted to add some tests for to demonstrate it working.

[2022-04-08 06:49] SebastianSzturo opened #67 "Slow queries compared to SQLite3 CLI or other clients"
I've noticed that large queries are significantly slower via `ecto_sqlite3` than through the `sqlite3` CLI.

Example:

[code]
Here is the example data of ~650k rows: [dev.db.zip](https://github.com/elixir-sqlite/ecto_sqlite3/files/8449228/dev.db.zip)

Via Ecto: **22504.3ms**
[code]
[code]

Via Ecto (Raw SQL): **21520.2ms**
[code]
[code]

Via SQLite3 CLI or any other SQLite3 GUI:
[code]

Is there a

[2022-04-08 06:58] SebastianSzturo commented on #67
Here are the results running the query with Exqlite directly:

[code]

[code]

[2022-04-08 09:30] SebastianSzturo commented on #67
Looks like the issue happens when using `Exqlite.Connection`:

[code]

I'll open an issue in https://github.com/elixir-sqlite/exqlite

[2022-04-08 09:30] #67 closed

[2022-04-08 09:41] SebastianSzturo commented on #67
For reference: https://github.com/elixir-sqlite/exqlite/issues/199

[2022-04-08 16:42] warmwaffles commented on #67
Thanks, will take a look into this.

[2022-04-19 09:40] LostKobrakai opened #68 "Immediate transaction"
I've a usecase for a read-then-update flow and I was considering using an immediate transaction to prevent the race condition of a concurrent transaction changing the db after the initial read, but before updates were written. I saw exqlite has some code around those, but I'm wondering if that can be exposed to ecto based transactions.

[2022-04-19 13:00] warmwaffles commented on #68
I'm not sure how to set the mode for the transaction from within ecto, but the `db_connection` implementation supports it

https://github.com/elixir-sqlite/exqlite/blob/b45c25c6509e56530baccea97b1c1363b0892f02/lib/exqlite/connection.ex#L195-L196

[2022-04-19 13:10] LostKobrakai commented on #68
I just noticed this just works: `Edith.Repo.transaction(…, mode: :immediate)` :)

[2022-04-19 13:10] #68 closed

[2022-04-19 13:19] warmwaffles commented on #68
I didn't realize that `transaction/2` took that as an option. It isn't documented AFAIK.

[2022-04-19 13:23] warmwaffles commented on #68
Perhaps a PR to upstream ecto would be welcome about passing the mode. I believe postgres and mysql implementations support the `mode:` directive.

[2022-05-14 19:58] Blond11516 opened #70 "Questions regarding `binary_id` columns and the `binary_id_type` configuration"
When I tried using `binary_id` primary keys for my tables, I was surprised to see IDs in elixir's binary format rather than strings. After some research, I found the (undocumented) `:binary_id_type` option.

The option supports either `:string` (default) or `:binary` as values. I was surprised to find in the [loader for `binary_id`](https://github.com/elixir-sqlite/ecto_sqlite3/blob/69984faf3b73c5

[2022-05-15 02:07] warmwaffles commented on #70
The original implementation was from about a year ago here https://github.com/elixir-sqlite/ecto_sqlite3/pull/52 and I am having trouble recalling the rationale for the "why". @LostKobrakai could maybe shed some light.

The parameter exists as far as I can tell to maybe bridge existing sqlite databases that were created with tables using a different affinity for the column type.

I do agree that t

[2022-05-15 02:08] warmwaffles commented on #63
@sweco-semtne I'm going to close this since it has not had any movement.

[2022-05-15 02:08] #63 closed

[2022-05-15 02:10] warmwaffles commented on #43
I am going to close this for now.

[2022-05-15 02:10] #43 closed

[2022-05-15 02:13] warmwaffles commented on #34
I'm still not sure if this is something that we should support. `DBConnection` is pretty entangled into `ecto` and I don't think we can guarantee connections being in the same process due to it.

[2022-05-15 12:36] LostKobrakai commented on #70
As mentioned this for one part is to allow a migration from esqlite/sqlite_ecto2, which stored uuids as binaries.
But also using the binary representation does save quite a bit of space, and it's not just the additional "-", but also because the raw bytes are way smaller than than the Base16 encoding of bytes into characters.

[code]

Neither postgres nor mysql store UUIDs in their string form. In

[2022-05-15 16:18] warmwaffles commented on #70
This is actually a really good explanation @LostKobrakai, we should probably throw that into a doc string or a nice comment block for those methods.

[2022-05-15 22:02] Blond11516 commented on #70
Ok so let me reiterate my current understanding to make sure it's correct.

In all of Postgres, MySQL, SQLite (depending on options) and probably MSSQL too, `binary_id` columns are stored as raw binary in the database and translated to and from strings by the loader/dumper (usually `Ecto.UUID`). The `binary_id_type` and `uuid_type` configurations exist to allow storing UUIDs either as binary or pl

[2022-05-16 00:19] cdock1029 opened #71 "How to enable_load_extension"
Hi, not sure if this is the place to ask, but I'm using `ecto_sqlite3` in a Phoenix app. I want to manually load the decimal extension from https://github.com/nalgeon/sqlean, which isn't present in https://github.com/mindreframer/ex_sqlean.

I tried in `Application.start` to run

[code]

That is `not authorized`, and I understand first I would need to do something like

[code]

I'm not sure how to

[2022-05-16 07:20] LostKobrakai commented on #70
That part is not correct. `:string` is the default because that's what exqlite used to do before my changes. esqlite/sqlite_ecto2 stored uuids as binaries. If this turns out to be problematic enough to have a breaking change I'd be happy to have `:binary`storage as the default or even only option (probably after deprecation).

If `autogenerate` foregoes dumpers that way then this is a bug / broken

[2022-05-16 09:34] LostKobrakai commented on #70
I can confirm this being a bug with the `:binary_id` type. I'm not really sure why the autogenerate type differs between `:binary_id` and `Ecto.UUID`.

[2022-05-16 14:30] warmwaffles commented on #71
@mindreframer would you be able to help out here?

[2022-05-16 17:57] mindreframer commented on #71
@warmwaffles @cdock1029 Well... TBH, this was a little puzzle. I found a way, but it looks rather... interesting, to put it mildly.

I created a working example here: https://github.com/mindreframer/sqlite_init. I hope this helps somewhat, and if there is a better and more clear way to do it, I would also like to know it. I used ex_litedb, that is based on [litedb](https://github.com/litedb/litedb

[2022-05-17 01:27] Blond11516 commented on #70
If I'm not mistaken the issues comes from the fact that `ecto_sqlite3` doesn't actually handle any value generation. `:binary_id` values appear to be generated by `ecto_sql`'s [base SQL adapter](https://github.com/elixir-ecto/ecto_sql/blob/29c3af38f60d1c3ace4bdfde09aefb8dca6c13fc/lib/ecto/adapters/sql.ex#L174).

The MSSQL adapter [overrides `autogenerate/1` to use it's own UUID type](https://githu

[2022-05-17 01:54] warmwaffles commented on #70
I think we are given the allowance to make a breaking change like that prior to bumping the major.

[2022-05-17 02:45] cdock1029 commented on #71
@mindreframer Thanks a lot this is helpful, I appreciate it. Interesting indeed, but for now it gets the job done. There is not such an easy way to get access to the connection otherwise.

[2022-05-17 02:46] #71 closed

[2022-05-19 02:23] Blond11516 commented on #70
I took the liberty of opening a PR with a fix for this: https://github.com/elixir-sqlite/ecto_sqlite3/pull/72

[2022-05-23 06:51] dvic commented on #71
@mindreframer thanks for this! I have a question though: where is this `connection_listeners` coming from? Is this an Ecto thing? And also, isn't this approach asynchronous? Is it possible that the `query!` example runs before the message is processed in `ConnectionListener`?

[2022-05-23 10:41] mindreframer commented on #71
@dvic This is feature from DBConnection - https://github.com/elixir-ecto/db_connection/blob/master/lib/db_connection.ex

https://github.com/elixir-ecto/db_connection/blob/master/lib/db_connection.ex#L415

And yes, it seems to be asynchronous. So I guess it is up to the user / developer to prevent a possible race condition.

[2022-05-23 10:56] dvic commented on #71
I see, thanks for the explanation!

[2022-05-28 18:08] Blond11516 commented on #70
I think https://github.com/elixir-sqlite/ecto_sqlite3/pull/73 wraps up the questions I had initially.

Thanks a lot @warmwaffles and @LostKobrakai for your help!

[2022-05-28 18:08] #70 closed

[2022-05-30 21:42] tomtaylor opened #74 "DateTime passed into query producing incorrect results"
I've got a table that looks like this:

[code]

With data that looks like:

[code]

And a query that's very similar to this:

[code]

I've been tearing my hair out trying to work out why it works fine in my SQLite console, but through Ecto it doesn't seem to produce the right results - the dates of the result are incorrect. I was passing a `DateTime` in as `since_timestamp`, but I've discovered th

[2022-06-01 13:25] warmwaffles commented on #74
@tomtaylor also can you throw `IO.inspect(Ecto.Adapters.SQL.to_sql(:all, Repo, queryable))` into your query chain and post back the generated query?

[2022-06-01 13:39] ruslandoga commented on #74
@warmwaffles I've created a repo for reproduction https://github.com/ruslandoga/issue74 and I'm not seeing `Ecto.Adapters.SQLite3.Codec.utc_datetime_encode` being called for datetime when using them in a fragment. I used rexbug for tracing.

[2022-06-01 16:19] warmwaffles commented on #74
I'll take a look into this soon unless @ruslandoga you find a solution before I do.

[2022-06-01 16:25] ruslandoga commented on #74
@warmwaffles I don't think there is any fix due to sqlite's lack of a read datetime type. As far as I can see, the best thing Ecto can do is cast the input, but SQLite seems to ignore it.

[code]

[2022-06-03 16:56] tomtaylor commented on #74
Thanks for everyone's work looking at this, and for providing a minimal test case.

I feels like the current behaviour is a little surprising. While SQLite has no native datetime format, the implication of the `datetime` function is that datetimes are best stored as `YYYY-MM-DD HH:MM:SS`, not `YYYY-MM-DDTHH:MM:SSZ`.

Is this something we could make configurable? Perhaps defaulting to `YYYY-MM-DD H

[2022-06-06 14:41] warmwaffles commented on #74
A PR for the change would be welcome.

We simply defaulted to `DateTime.to_iso8601/1` for serializing to the database because it was simplest and most of sqlite's datetime https://www.sqlite.org/lang_datefunc.html expects the datetime to be in a subset of ISO-8601.

[2022-06-09 10:27] LostKobrakai opened #75 "Cannot run migrations on in-memory db"
I'm not really sure this is an issue with this library, but not using an in memory db works just fine.

Run using `elixir script.exs`

[code]

[code]

[2022-06-09 10:29] LostKobrakai commented on #75
And due to good old rubber-ducking I found the issue. Need to set `pool_size` to `1` with an in memory db.

[2022-06-09 10:29] #75 closed

[2022-06-09 12:55] warmwaffles commented on #75
@LostKobrakai the in memory database is finicky with `DBConnection`. If the pool count goes to zero, the database will be lost. I wish there was a better way to go beyond 1, but we can't without some changes upstream.

[2022-06-17 19:48] #19 closed

[2022-06-20 11:04] LostKobrakai opened #76 "Support "EXPLAIN QUERY PLAN""
In sqlite `EXPLAIN QUERY PLAN …` and `EXPLAIN …` return different values. Currently only the latter is supported with `Repo.explain(:all, query)`, but I'd expect that the first one is actually the more common need, why people reach for explain. I think both options should be available (as enabled via the `opts`), but I think `EXPLAIN QUERY PLAN` should be the default, rather than just `EXPLAIN`.

[2022-06-20 11:39] LostKobrakai commented on #76
It would also be great if aliases and parameters could be replaced in the result. I'm not sure how involved this is though.

[2022-06-20 13:00] warmwaffles commented on #76
It's a pretty quick add https://github.com/elixir-sqlite/ecto_sqlite3/blob/edef95fb3619a4090003d5c94cd527b6073928a4/lib/ecto/adapters/sqlite3/connection.ex#L657-L659

[2022-06-20 20:13] #76 closed

[2022-08-03 15:29] LostKobrakai opened #81 "Support join hints like `INDEXED BY`"
https://hexdocs.pm/ecto/3.8.4/Ecto.Query.html#join/5-hints

[2022-08-04 15:12] #81 closed

[2022-08-04 16:59] greg-rychlewski commented on #74
@tomtaylor you can give the changes in this PR a try: https://github.com/elixir-sqlite/ecto_sqlite3/pull/84

[2022-08-04 20:09] warmwaffles commented on #74
Lemme get a release cut

[2022-08-04 20:18] warmwaffles commented on #74
The recent set of changes has been released under `v0.8.0`

[2022-08-17 18:29] dbernheisel opened #87 "Ecto Migration lock and DDL transaction support"
I noticed that this adapter doesn't seem to support DDL transactions or a migration lock during ecto migrations. Does that support need to be implemented?

I'm probably missing something, but I figure that a DDL transaction can be started with [exclusive mode](https://www.sqlite.org/lang_transaction.html), and perhaps the migration lock is satisfied with a file lock?

https://github.com/elixir-sql

[2022-08-17 19:34] warmwaffles commented on #87
I don't know if SQLite actually supports DDL transactions, but like you said, we could "fake" it with exclusive. I didn't implement it because ecto sqlite 2 did not implement it.

[2022-09-06 05:55] railsmechanic opened #89 "Additional quotes being added to index name?"
Hi, I already posted this issue in the [ecto repository](https://github.com/elixir-ecto), but @josevalim pointed me to this repository with the guess, that there might be additional quotes added around the index name in the migration.

#### Issue description
When creating an unique index with a custom expression as shown as in [Ecto.Migration docs](https://hexdocs.pm/ecto_sql/Ecto.Migration.html#i

[2022-09-07 13:52] warmwaffles commented on #89
@railsmechanic I'll take a look at this soon.

[2022-09-07 15:18] railsmechanic commented on #89
Cool, thank you! 👍🏻

[2022-09-08 03:05] warmwaffles commented on #89
@railsmechanic I was able to recreate the issue https://github.com/elixir-sqlite/ecto_sqlite3/compare/index-constraint-name-problem

[2022-09-08 03:11] warmwaffles commented on #89
The funky name is emitted from here

https://github.com/elixir-sqlite/ecto_sqlite3/blob/e3e29edba96e2580a0c1895643e8065081d1dd8e/lib/ecto/adapters/sqlite3/connection.ex#L104-L128

Who'da thought the function name `constraint_name_hack/1` would be the culprit 🤣

[2022-09-08 03:19] warmwaffles opened #90 "Getting warnings about Application.get_env/2 in test support files"
When using Elixir 1.14.0 with OTP 25, we get a new set of warnings when running `mix test`

Here are the warnings.

[code]

[2022-10-05 19:33] newmanjeff opened #91 "EXISTS/NOT EXISTS subqueries produce syntax error"
Running an exists or not exists query fails.  E.g. adding this integration test to test/ecto/integration/crud_test.exs:

[code]

Produces an error:

[code]

The error appears to be that the generated SQL has two parentheses after the EXISTS (`exists((`), but sqlite only supports a single `exists(` .

[2022-10-05 19:50] warmwaffles commented on #91
Yea this can be fixed. Thank you for throwing a test together. If you want to attempt to fix it, that's fine. Otherwise, I'll try to get to this soon.

[2022-10-05 20:25] newmanjeff commented on #91
Thanks.  I briefly investigated, but the solution wasn't apparent to me.

[2022-10-06 01:27] warmwaffles commented on #91
Liar 😉 It looks like you figured it out!

[2022-10-06 15:06] #91 closed

[2022-11-09 20:47] warmwaffles commented on #89
@railsmechanic I have not forgotten this. Just haven't had time.

[2022-11-10 07:10] railsmechanic commented on #89
No problem, I also have no time... 👍